	<footer class="footer center-text">
		<p class="tip white">Questions? Feedback?</p>
		<a class="btn" href="/contact">Email the Developer</a>
		<p class="tip white">Copyright 2018, Sam Yeager</p>
	</footer>
	</body>
</html >