<!DOCTYPE HTML>
    <html>
        <head>
            <title>AvP</title>
            <link rel="icon" type="image/png" href="/images/favicon.png">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        </head>
        <body>