<% include ./partials/header %>

<div class="content">
	<div class="jumbotron center-text">
		<h1>Artist vs Programmer Pictionary!</h1>
		<p>Artist vs Programmer Pictionary pits two teams against each other in a close-as-possible drawing battle! In one corner are the Artists, people who can draw pretty well (at least well enough to kick ass at Pictionary) and in the other corner we have the Programmers, people who can't draw well (who may draw an ice cream sundae so badly their team would sooner guess "corn on the cob" or "teeth").</p>
		<p>To even the playing field, both teams get Modifiers. Artists get Nerfs - negative things that make it harder for them to play, like drawing with their off hand or getting less time. Programmers get Buffs - positive things that make it easier for them to play, like getting help from an Artist or getting more time.</p>
		<p class="center-margin"><strong>Check out our lists of Buffs and Nerfs, add your own Modifiers to the game's database, and start your own game below!</strong></p>
	</div>
	<hr class="gradient">
	<div class="links center-text center-margin">
		<a class="btn" href="/modifiers">Modifiers List</a>
		<a class="btn success" href="/modifiers/new">Add Modifier</a>
		<a class="btn success" href="/game/new">Start Game</a>
	</div>
</div>

<% include ./partials/footer %>
