<% include ../partials/header %>

<div class="content">
	<div class="form-wrapper center-margin">
		<h1 class="center-text top">Set up New Game</h1>
		<form class="form">
			<p> Game setup will go here </p>
			<!-- <div class="item">
				<label for="text">Modifier Text</label>
				<div class="item">
					<textarea id="text" name="modifier[text]" placeholder="what do you want the person drawing to do?" rows="3" maxlength="100"></textarea>
					<p class="tip center-text">Examples: "You get half the normal time," "Draw in one continuous line," "Pick a topic from the easy word list."</p>
				</div>
			</div>
			<div class="item center-text">
				<label for="buffTrue">Buff</label>
				<input type="radio" id="buffTrue" name="modifier[buff]" value="true">
				<label for="buffFalse">Nerf</label>
				<input type="radio" id="buffFalse" name="modifier[buff]" value="false">
			</div>
			<div class="item center-text">
				<input class="btn success" type="submit" name="submit" value="Add">
			</div> -->
		</form>
		<div class="links">
			<a class="btn neutral flush-left" href="/">Back</a>
		</div>
	</div>
	
</div>

<% include ../partials/footer %>
